.card {
  background: var(--clr-surface);
  padding: 0.25rem;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.avatar {
  border-radius: var(--radius-md);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.header {
  padding-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}

.subtitle {
  color: var(--clr-text-muted);
  font-size: 0.875rem;
  text-transform: capitalize;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline-end: 0.5rem;
  vertical-align: middle;
}

.subtitle[data-status="Alive"]::before {
  background-color: hsl(120deg 90% 20%);
}

.subtitle[data-status="Dead"]::before {
  background-color: hsl(0deg 90% 30%);
}

.subtitle[data-status="unknown"]::before {
  background-color: hsl(0deg 0% 30%);
}
